@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Ysabeau:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: 'Ysabeau', sans-serif;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

#arab {
  font-family: 'Amiri', serif;
}